*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* FONTS */

@font-face {
    font-family: 'Nico Moji';
    src: url('../fonts/NicoMoji-Regular.ttf') format('woff2');
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-VariableFont_wdth\,wght.ttf') format('woff2');
}

/* PROPRIETES AN'ILAY SITE MANOKANA */

.title {
    font-family: 'Nico Moji', sans-serif;
}

.border-violet {
    border-color: #3114A3 !important;
}

.bg-light {
    background-color: #F6F8FF !important;
}

.bg-violet{
    background: linear-gradient(to bottom, #3114A3, #180a52dc);
    /* background: linear-gradient(to bottom, #3114A3, #56B0FA); */
        color: #F6F8FF !important;
}

.bgg-violet{
    background-color: #3114A3;
        color: #F6F8FF !important;
}

.bg-rose{
    background: linear-gradient(to bottom, #56B0FA, #CC0E7A);
        color: #3114A3 !important;
        opacity: 75%;
}

.violet{
    color: #3114A3;
}

.light{
    color: #F6F8FF;
}

.dark{
    color: #091520;
}

body {
    background: #F6F8FF;
    font-family: 'Archivo';
}

.text-gap {
    line-height: 1.8;
    /* Espacement entre les lignes */
    /* letter-spacing: 0.25em; */
    /* Espacement entre les lettres */
    word-spacing: 0.1em;
    /* Espacement entre les mots */
    padding: 20px;
    /* Espacement à l'intérieur du conteneur */
}

/* --------------------------------------------------------------------------------------------------------------- */
/* Elements header */
.nav-link {
    color: #3114A3;
}

/* Barres scrollables */

.scrollable-container {
    overflow-x: auto;
    overflow-y: hidden;
    /* Optionnel : désactive le défilement vertical */
    width: 100%;
}

.scrollable-container::-webkit-scrollbar {
    width: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: #F6F8FF;
    /* Couleur de fond de la barre de défilement */
}

.scrollable-container::-webkit-scrollbar-thumb {
    /* background: #3114A3; */
    /* Couleur de la poignée de défilement */
    border-radius: 6px;
}

.scrollable-container::-webkit-scrollbar-button:single-button:increment{
    background-image: url('../icons/caret-right-fill.svg');
}
.scrollable-container::-webkit-scrollbar-button:single-button:decrement {
    background-image: url('../icons/caret-left-fill.svg');
}

/* Formulaires */

input , select{
    background-color: #F6F8FF;
}

/* Boutons */
.btn {
    border-radius: 8px;
    width: 100%;
}

.btn-primary {
    background-color: #3114A3;
    color: #F6F8FF;
    border: 1px solid #3114A3;
}

.btn-secondary {
    background-color: #F6F8FF;
    color: #091520;
    border: 1px solid #F6F8FF;
}

.btn-secondary-dark {
    background-color: #091520;
    color: #F6F8FF;
    border: 1px solid #091520;
}

.btn-tertiary {
    color: #F6F8FF;
    border: 1px solid #F6F8FF;
}
.btn-tertiary-dark {
    color: #091520;
    border: 1px solid #091520;
}

.btn:hover {
    background-color: #3114A3;
    color: #F6F8FF;
    border: 1px solid #F6F8FF;
    transition: 0.5s;
}