<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div
        class="col-lg-5 my-auto"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5%;
        "
      >
        <div class="device-container">
          <div>
            <img class="img-fluid" src="../assets/img/Ticket.png" width="150" />
          </div>
          <div class="button"></div>
        </div>
        <div class="iphone-mockup"></div>
      </div>

      <div class="col-lg-7 my-auto">
        <div class="mx-auto header-content">
          <h2 class="mb-5 title text-center text-sm-start">
            Annulation
          </h2>
          <h6 class="mb-5">
            <span
              >Vous serez remboursé de 1000 Ar à effet non immédiat à cause
              des frais de mobile money.&nbsp;</span
            >
          </h6>
          <a
            class="btn btn-primary btn-xl"
            role="button"
            ng-href="#!/profil"
          >
            Refuser</a
          >
          <a
            class="btn btn-tertiary-dark btn-xl"
            role="button"
            ng-click="annulationConfirmer(reservationSeatId)"
          >
            Confirmer</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
