<div class="container-fluid p-5">
    <div class="row justify-content-around align-items-start">
        <!-- Texte -->
        <div class="col-lg-6 col-xl-4">
            <h1 class="title fw-bold">{{ "Reservation" | uppercase }}</h1>
            <ul>
                Itinéraire de la ligne 1 :
                <li>Tanjombato</li>
                <li>Tsimbajajaza</li>
            </ul>
            <p>
                Prix d’un ticket de {{depart.nomArret}} à {{arrivee.nomArret}} : {{ticketPrice}} Ar
            </p>
        </div>

        <!-- Formulaire -->
        <div class="col-lg-6 col-xl-4">
            <div class="p-4 p-sm-5 bg-violet rounded-5">
                <form ng-submit="bookBus()">
                    <div class="mb-3">
                        <label class="small form-label" for="bus">Ligne de bus</label>
                        <select class="form-select" name="bus" id="bus" ng-model="selectedLineId"
                                ng-change="updateStops()"
                                ng-options="line.id as line.label for line in busLines"></select>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="small form-label" for="depart">Arrêt de départ</label>
                            <select class="form-select w-100" name="depart" id="depart" ng-model="depart"
                                    ng-change="updatePrice()"
                                    ng-options="stop.id as stop.label for stop in busStop"></select>
                        </div>    
                        <div class="col-md-6">
                            <label class="small form-label" for="arrivee">Arrêt d'arrivée</label>
                            <select class="form-select w-100" name="arrivee" id="arrivee" ng-model="arrivee"
                                    ng-change="updatePrice()"
                                    ng-options="stop.id as stop.label for stop in busStop"></select>
                        </div>
                    </div>
                    <label class="small form-label" for="heure">Tranche d'heure de départ</label>
                    <div class="row mb-3">
                        <div class="col-md-6 pb-2 pb-md-0">
                            <input required class="form-control" type="time" name="heure" id="" value="12:00">
                        </div>
                        <div class="col-md-6">
                            <input required class="form-control" type="time" name="heure" id="" value="13:00">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="small form-label light" for="sieges">Nombre de sièges</label>
                        <input required class="form-control" type="tel" id="sieges" name="sieges" ng-model="sieges">
                    </div>
                    <div class="py-4">
                        <button class="btn btn-secondary w-100 fw-bold fs-5" type="submit">
                            Voir les résultats
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
