<style>
  .seat {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #f6f8ff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .selected {
    background-color: #cc0e7a;
    color: #f6f8ff;
  }
  .aisle {
    width: 60px; /* Smaller width for aisle */
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .row-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .driver-seat {
    width: 95px;
    height: 50px;
    margin: 5px;
    background-color: #bdbbbb;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 40px;
    cursor: not-allowed; /* Not selectable */
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
  }
  .seat-front1 {
    margin-left: 80px; /* Ajouter un décalage vers la droite */
  }
  .selected-seats {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #3114A3;
    background-color: #f6f8ff;
    height: 120px;
  }
  .selected-seats ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow-x: auto; /* Permet le défilement horizontal */
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
  }
  .selected-seats li {
    margin-right: 10px;
  }
  .list-selected-seats {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reserved {
    background-color: #56b0fa;
    cursor: not-allowed; /* Not selectable */
  }
  .selected-seat {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: #6c6c6c;
    color: white;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    display: inline-block;
  }
  .bus-seats {
    background-color: #091520;
    height: 600px;
    padding-top: 5%;
    border-radius: 27px;
    margin-bottom: 3%;
    width: 375px;
  }
  .bus-number-container {
    margin-bottom: 20px;
  }
  .bus-number {
    display: inline-block;
    font-size: 24px; /* Augmente la taille de la police */
    padding: 20px;
    border: 3px solid black; /* Contour gras */
    border-radius: 50%; /* Crée un cercle */
    width: 70px; /* Largeur du cercle */
    height: 70px; /* Hauteur du cercle */
    line-height: 55px; /* Centre le texte verticalement */
    font-family: "Archivo", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .legend {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .legend .color-box {
    width: 20px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #000;
  }
  .legend .reserved {
    background-color: #56b0fa;
  }
  .legend .free {
    background-color: #f6f8ff;
  }
  .validation-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem; /* Increase font size */
    padding: 10px 20px; /* Add padding */
    width: 100%; /* Make button full width */
  }
  /* Media Queries for Desktop */
  @media (min-width: 768px) {
    .desktop-view .legend {
      margin-top: 0;
    }

    .desktop-view .bus-number-container {
      margin-top: 20px;
    }

    .desktop-view .selected-seats {
      display: none;
    }

    .desktop-view .selected-seats-summary {
      display: block;
      font-size: 2rem;
      font-family: "Nico Moji", sans-serif;
      margin-top: 20px;
    }
  }

  /* Media Queries for Mobile */
  @media (max-width: 767px) {
    .mobile-view .selected-seats {
      display: block;
    }

    .mobile-view .selected-seats-summary {
      display: none;
    }
  }
</style>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="bus-seats">
          <div class="row mb-3 bus-number-container">
            <div class="bus-number">{{ numeroBus }}</div>
          </div>
          <div class="row row-container" ng-repeat="row in rows">
            <div class="col" ng-class="{ 'seat-front1': $first }">
              <button
                ng-repeat="seat in row.left"
                ng-disabled="isReserved(seat)"
                ng-click="toggleSelection(seat)"
                ng-class="{ 'seat': true, 'selected': seat.selected, 'reserved': isReserved(seat) }"
              >
                {{ seat.number }}
              </button>
            </div>
            <div class="col text-center" ng-if="row.aisle">
              <button class="aisle"></button>
            </div>
            <div class="col" ng-class="{ 'seat-front1': $first }">
              <button
                ng-repeat="seat in row.right"
                ng-disabled="isReserved(seat)"
                ng-click="toggleSelection(seat)"
                ng-class="{ 'seat': true, 'selected': seat.selected, 'reserved': isReserved(seat) }"
              >
                {{ seat.number }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="selected-seats">
          <div class="list-selected-seats">
            <ul>
              <li ng-repeat="seat in selectedSeats" class="selected-seat">
                {{ seat.number }}
              </li>
            </ul>
          </div>
          <div class="text-center mt-3">
            <p>Total à payer: {{ totalPrice }} Ar</p>
            <button class="btn btn-primary validation-btn" ng-click="validerSeat()">Valider</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row legend">
      <div class="col-md-12 text-center">
        <div class="color-box free"></div> Libre
        <div class="color-box reserved ml-3"></div> Réservé
      </div>
    </div>
  </div>

