<div class="container p-5">
    <h1 class="fw-bolder title">{{ "Dashboard" | uppercase }}</h1>
    <div class="row">
        <!-- chiffre d'affaire -->
        <div class="col-md-6">
            <div class="py-4 mt-2 mb-4 bg-violet rounded-5">
                <div class="card-body px-5">
                    <form action="#">
                        <div class="mb-3">
                            <h3>Chiffres d'affaires</h3>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 pb-2 pb-md-0">
                                <label class="small form-label">Début</label>
                                <input class="form-control" ng-model="dateDebut" required type="date"/>
                            </div>
                            <div class="col-md-6">
                                <label class="small form-label">Fin</label>
                                <input class="form-control" ng-model="dateFin" required type="date"/>
                            </div>
                        </div>
                        <div>
                            <h3>{{ chiffreAffaire | number:0 }} Ar</h3>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card shadow mb-4 bg-white rounded-5">
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                    <hr>
                    <p class="violet text-center"> Graphe (/an) Chiffre d'Affaire</p>
                </div>
            </div>
        </div>

        <!-- --- Clientele--- -->
        <div class="col-md-6">
            <div class="py-4 mt-2 mb-4 bg-violet rounded-5">
                <div class="card-body px-5">
                    <form action="#">
                        <div class="mb-3">
                            <h4>Clientèle Moyenne</h4>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 pb-2 pb-md-0">
                                <label class="small form-label">Début</label>
                                <input class="form-control" ng-model="dateDebut" required type="date"/>
                            </div>
                            <div class="col-md-6">
                                <label class="small form-label">Fin</label>
                                <input class="form-control" ng-model="dateFin" required type="date"/>
                            </div>
                        </div>
                        <div>
                            <h3>{{ reservation }} réservation(s)</h3>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card shadow mb-4 bg-white rounded-5">
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart2"></canvas>
                    </div>
                    <hr>
                    <p class="violet text-center"> Graphe (/an) Clientèle</p>
                </div>
            </div>
        </div>
    </div>

    
</div>
