<!-- Content Section -->
<div>
    <div class="bg-violet p-5">
        <div class="d-flex align-items-baseline gap-4"><h1 class=" title">BIENVENUE</h1></div>
        <div class="col-sm-12 col-md-6">
            <p>Ne ratez plus jamais votre bus ! Réservez dès maintenant votre place sur notre site et dites adieu aux bousculades aux arrêts de bus. Soyez toujours à l'heure, avec nous.</p>
        </div>    
        <div class="col-sm-2 col-md-3">
            <button class="btn btn-secondary rounded-5" type="submit">RÉSERVER MAINTENANT</button>
        </div>    
    </div>
</div>

<!-- Price Section -->
<div class="container px-5 py-5 bg-light">
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <h2>Fourchette de prix</h2>
            <p>Nos prix varient en fonction des arrêts parcourus</p>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="border border-violet rounded-5 p-3 text-center">
                <h5>Moins de arrêts 3</h5>
                <p>1500 Ar</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="border border-violet rounded-5 p-3 text-center">
                <h5> Entre 3 et 5 arrêts </h5>
                <p>2000 Ar</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
            <div class="border border-violet rounded-5 p-3 text-center">
                <h5> Plus de 5 arrêts</h5>
                <p>2500 Ar</p>
            </div>
        </div>
    </div>
</div>
