<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="p-4 p-sm-5 bg-violet rounded-5" style="box-shadow: 10px 5px 12px dimgray;">
                <div class="text-center">
                    <h1 class="fw-semibold title">{{ "Connexion" | uppercase }}</h1>
                    <p class="py-lg-3">Connectez-vous pour pouvoir utiliser nos services.</p>
                </div>
                <form ng-submit="login()">
                    <div class="mb-3">
                        <label class="small form-label" for="phone">Numéro de téléphone</label>
                        <input class="form-control" id="phone" ng-model="user.phoneNumber" required>
                    </div>
                    <div class="mb-3">
                        <label class="small form-label" for="pass">Mot de passe</label>
                        <input class="form-control" id="pass" ng-model="user.password" required>
                    </div>
                    <div class="py-4">
                        <button class="btn btn-secondary w-100 fw-bold fs-5" type="submit">Se connecter</button>
                    </div>
                    <div class="text-center">
                        <span>Vous n'avez pas encore de compte ?</span>
                        <a class="link light" ng-href="#!/inscription">Inscrivez-vous!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
