<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
            <div class="p-4 p-sm-5 bg-violet rounded-5" style="box-shadow: 10px 5px 12px dimgray;">
                <div class="text-center">
                    <h1 class="fw-semibold title">{{ "Inscription" | uppercase }}</h1>
                    <p class="py-lg-3">
                        Veuillez créer un compte pour profiter de nos services.
                    </p>
                </div>
                <!-- <div class="alert alert-danger fw-bold text-center rounded-4 py-2" role="alert">

                </div> -->
                <form ng-submit="submitForm()">
                    <div class="row mb-3">
                        <div class="col">
                            <label class="small form-label" for="firstname">Nom</label>
                            <input class="form-control" type="text" id="firstname" ng-model="user.firstname">
                        </div>
                        <div class="col">
                            <label class="small form-label" for="lastname">Prénoms</label>
                            <input class="form-control" type="text" id="lastname" ng-model="user.lastname">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="small form-label" for="phoneNumber">Numéro de Téléphone</label>
                        <input class="form-control" type="tel" id="phoneNumber" ng-model="user.phoneNumber">
                    </div>
                    <div class="mb-3">
                        <label class="small form-label" for="password">Mot de Passe</label>
                        <input class="form-control" type="password" id="password" ng-model="user.password">
                    </div>
                    <div class="py-4">
                        <button type="submit" class="btn btn-secondary w-100 fw-bold fs-5">S'inscrire</button>
                    </div>
                    <div class="text-center">
                        <span>Vous avez déjà un compte ?</span>
                        <a class="link light" ng-href="#!/login">Connectez-vous!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
